body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: white;
  border-bottom: 1px solid #ccc;
}

nav .title {
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: black;
}

.slideshow-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
  margin-top: 2em;
}

section {
  padding: 2em;
}

ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.socials li {
  margin-bottom: 0.5em;
}

.socials a {
  color: blue;
  text-decoration: underline;
}
