body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: white;
  border-bottom: 1px solid #ccc;
}

nav .title {
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: black;
}

.slideshow-container {
  width: 100%;
  height: 400px; /* or any height you want */
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
  margin-top: 2em;
}

section {
  padding: 2em;
}

ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.socials li {
  margin-bottom: 0.5em;
}

.socials a {
  color: blue;
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 2em 1em;
  margin-top: 3em;
  border-top: 1px solid #ccc;
  color: #555;
  font-size: 0.9em;
}

footer p {
  margin: 0.4em 0;
}

.footer-note {
  font-size: 0.85em;
  color: #777;
}
